/**
 * Default stylesheet to Wpanel Cms demo-website.
 */

/**
* Use this if you are using brand-image.
*/
.navbar {
    margin-bottom: 0px;
}
.navbar-brand {
    padding: 5px 5px;
}

/**
* This code provides sub-menu dropdown to bootstrap 3.x .
*/
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

/**
* General styles.
*/
body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}
.wpn-spacer {
    height: 20px;
}
.wpn-container {
    background-color: #ffffff;
    margin-bottom: 20px;
}
.wpn-social-buttons {
    margin-bottom: 10px;
}
.wpn-ads {
    margin-top: 20px;
    margin-bottom: 20px;
}
.wpn-postagens {}
.wpn-postagens .wpn-capa {
    height:200px;
    overflow: hidden;
    margin-top:15px;
    margin-bottom:15px;
}
.wpn-postagem {}
.wpn-postagem .wpn-capa {
    margin-top:15px;
    margin-bottom:15px;
}
.wpn-sidebar {}
.menu-sidebar {
    list-style: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}
.wpn-footer {}
.wpn-footer .wpn-copyright {
  border-top: solid 1px #ccc;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 30px;
    text-align: center;
}
